body {
    color: #404040;
}
a {
    color: #888;
}


span.wp-block-navigation-item__label {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 600;
    }

a:hover.wp-block-navigation-item__content span.wp-block-navigation-item__label {
    color: #000 !important;
}

.wp-block-navigation .wp-block-navigation-item {
     margin-left: 3rem !important;
 }
.lang-item-uk.wp-block-polylang-navigation-language-switcher.wp-block-navigation-link {
    margin-left: 0 !important;
 }
.lang-item-en a {
    ::after {
        content: ' | ';
        margin-right: .2rem;
    }
}

.wc-block-mini-cart__quantity-badge {
    background-color: #fff;
    color: #F9D820;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    border-radius: 50%;
}
.wc-block-mini-cart__icon {
    color: #F0A507 !important;
}

.footer-menu a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
    text-decoration: none;
}

.wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
    background-color: #5CB3FF !important;
}
img.top-logo{
    width: 200px;
    height: auto;
}
@media screen and (max-width: 600px) {
    img.top-logo{
        width: 150px;
    }
    .wp-block-site-logo {
        padding-left: 1rem;
    }
    
}