<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"light-blue","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-light-blue-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"header","tagName":"header","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:block {"ref":289} /-->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->